@model EventManagement.Model.EventDetails

@{
    ViewData["Title"] = "Event Details";
}

<h2>@Model.EventName</h2>

<p><strong>Event Date:</strong> @Model.EventDate.ToShortDateString()</p>
@* <p><strong>End Date:</strong> @Model.EndDate.ToShortDateString()</p> *@
<p><strong>Description:</strong> @Model.Description</p>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
